/*Taylor Burdgess Oct 21, 2024*/
/*Major Assignment 2 Styling */

/*Navbar*/
a:link{
    color: #023047;
    text-decoration: none;
}
/*underline hover for nav bar */
a:hover{
    background-color: #023047;
    text-decoration: underline;
}

a:visited{
color: #023047;
}
/* html background display color */
html{
    background-color: #FB8500;
}

/*Image*/
img{
    width:100%;
    display:flex;
    border: 1px solid #FFB703;
}
/* Paraagraph display */
p{
    font-style: italic;
    font-size: 18px;
}
/*Mobile and Laptop display page max-width*/
@media screen and (max-width:500px) {
    .grid{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px; 
    }
    .par{
        margin-top: 100px;
        text-align: justify !important;
        padding: 10px;
    }
    .start{
        text-align: justify !important;
        padding:10px;
    }
    .top{
        margin-top:10px;
        padding:10px;
    }
}
/*Mobile and laptop display page min-width */
@media screen and (min-width:500px) {
   /*background*/
    nav{
        background-size: 100%;
        background-origin: content;
        background-repeat: no-repeat;
    }
    .grid{
        display:grid;
        grid-template-columns: auto auto auto;
        grid-gap:10px;
    }
    .par{
        grid-column: 1/4;
        text-align: justify;
        padding: 10px;
    }
    .start{
        grid-column: 1/4;
        text-align: justify;
        padding: 10px;
    }
    .top{
        grid-column: 1/4;
        margin-top: 50px;
        padding: 10px;
    }
}   
/* Tablet display */
@media  screen and (max-width:1024px) {
    .grid{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px; 
    }
    .par{
        margin-top: 100px;
        text-align: justify;
        padding: 10px;
    }
    .start{
        text-align: justify;
        padding:10px;
    }
    .top{
        margin-top:10px;
        padding:10px;
    }  
}
/*Tablet display */
@media screen and (min-width:768px) {
    nav{
        background-size: 100%;
        background-origin: content;
        background-repeat: no-repeat;
    }
    .grid{
        display:grid;
        grid-template-columns: auto auto auto;
        grid-gap:10px;
    }
    .par{
        grid-column: 1/4;
        text-align: justify !important;
        padding: 8px;
    }
    .start{
        grid-column: 1/4;
        text-align: justify !important;
        padding: 10px;
    }
    .top{
        grid-column: 1/4;
        margin-top: 50px;
        padding: 10px;
    }
}
/*background color boxes/text*/
    .grid-item{
        background-color: #8ECAE6;
        border: 4px solid   #219EBC;  
        font-size: 20px;
        padding: 5px;
        color: #023047;
        text-align: center;
}
/* nav bar links display */
li{
    margin: auto;
    display: inline-flex;
    margin-right: 200px;
    padding: 2px;
    font-style: italic;
}